@import "base.scss";

main{
    div.wapper{
        >div{
            width: 100%;
            height: 500px;
            margin-top: 40px;
            // border: 1px $dark solid;
            .option{
                display: flex;
                justify-content: center;
                input[type="file"]{ display: none; }
                button{
                    width: 100px;
                    height: 30px;
                    margin-right: 20px;
                    @include greyButton; 
                }
            }
            .editor{
                width: 95%;
                height: 450px;
                box-sizing: border-box;
                padding: 20px;
                margin: 0 auto;
                margin-top: 10px;
                border: 1px $dark solid;
                overflow: auto;
                background-color: #FFF;
                outline: none;
                i{
                    font-style: normal;
                    background-color: $highLight; 
                }
            }
        }
        #comfirm{
            margin: 0 auto;
            margin-top: 30px;
            width: 100px;
            height: 30px;
            @include blueButton;
            display: block;
        }
    }
    #result{
        margin: 0 auto;
        width: 95%;
        height: auto;
        padding-top: 40px;
        text-align: center;
        h4{
            color: $dark;
            span.green{
                color: green;
            } 
            span.red{
                color: red;
            }
        }
        p{
            text-align: left;
            font-size: 0.7rem;
            margin: 10px 10% 10px 10%;
        }
    }
}


@media screen and (min-width: 1024px){
    main{
        div.wapper{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            >div{
                width: 45%;
                height: 700px;
                margin-bottom: 30px;
                .editor{
                    height: 650px;
                }
            }
        }
    }
}