body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  height: 100%;
  font: normal 16px arial,Microsoft Yahei;
}

body {
  height: 100%;
  background-color: #F0F0F0;
}

.container {
  min-height: 100%;
}

header {
  position: relative;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  padding-left: 5px;
  color: #555;
}

header ul {
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  color: #555;
}

header ul li a:hover {
  color: #4386F5;
}

header #user {
  margin-right: 20px;
  cursor: pointer;
}

header #user img {
  width: 40px;
  border-radius: 50%;
  border: 6px transparent solid;
}

header #user img:hover {
  border: 6px #CCC solid;
}

main {
  width: 100%;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  background-color: #FFF;
  text-align: center;
  color: #888;
}

main div.wapper > div {
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

main div.wapper > div .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.wapper > div .option input[type="file"] {
  display: none;
}

main div.wapper > div .option button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
  border: 1px #C6C6C6 solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #F8F8F8;
  color: #000;
  cursor: pointer;
}

main div.wapper > div .editor {
  width: 95%;
  height: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px #555 solid;
  overflow: auto;
  background-color: #FFF;
  outline: none;
}

main div.wapper > div .editor i {
  font-style: normal;
  background-color: #FFFF00;
}

main div.wapper #comfirm {
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background-color: #4386F5;
  color: #FFF;
  cursor: pointer;
  display: block;
}

main #result {
  margin: 0 auto;
  width: 95%;
  height: auto;
  padding-top: 40px;
  text-align: center;
}

main #result h4 {
  color: #555;
}

main #result h4 span.green {
  color: green;
}

main #result h4 span.red {
  color: red;
}

main #result p {
  text-align: left;
  font-size: 0.7rem;
  margin: 10px 10% 10px 10%;
}

@media screen and (min-width: 1024px) {
  main div.wapper {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main div.wapper > div {
    width: 45%;
    height: 700px;
    margin-bottom: 30px;
  }
  main div.wapper > div .editor {
    height: 650px;
  }
}
/*# sourceMappingURL=check.css.map */