body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #F0F0F0;
}

header {
  position: relative;
  background-color: #FFF;
}

header h1 {
  position: absolute;
  left: 5px;
  color: #555;
}

header ul {
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header ul li {
  float: left;
  margin-right: 20px;
}

header ul li a {
  color: #555;
}

header ul li a:hover {
  color: #4386F5;
}

header #user {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
}

header #user img {
  width: 40px;
  border-radius: 50%;
  border: 7px transparent solid;
}

header #user img:hover {
  border: 7px #CCC solid;
}

main {
  width: 100%;
  padding-bottom: 50px;
}

main div.wapper > div {
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

main div.wapper > div .option {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main div.wapper > div .option input[type="file"] {
  display: none;
}

main div.wapper > div .option button {
  width: 100px;
  height: 30px;
  border: 1px #C6C6C6 solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #F8F8F8;
  border: none;
  margin-right: 20px;
  color: #000;
}

main div.wapper > div .editor {
  width: 95%;
  height: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px #555 solid;
  overflow: scroll;
  background-color: #FFF;
}

main div.wapper > div .editor i {
  font-style: normal;
  background-color: #888;
}

main div.wapper #comfirm {
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background-color: #4386F5;
  border: none;
  color: #FFF;
  display: block;
}

main div.wapper #result {
  margin: 0 auto;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 0 100px 0;
  text-align: center;
}

main div.wapper #result h4 {
  color: #555;
}

main div.wapper #result h4 span.green {
  color: green;
}

main div.wapper #result h4 span.red {
  color: red;
}

footer {
  width: 100%;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  background-color: #FFF;
  text-align: center;
  color: #888;
}

@media screen and (min-width: 1024px) {
  main div.wapper {
    width: 80%;
    margin: 0 auto;
  }
  main div.wapper > div {
    width: 45%;
    height: 700px;
    margin-bottom: 30px;
  }
  main div.wapper > div.boxA {
    float: left;
  }
  main div.wapper > div.boxB {
    float: right;
  }
  main div.wapper > div .editor {
    height: 650px;
  }
  main div.wapper #comfirm {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -50px;
  }
  main div.wapper #result {
    width: 95%;
    float: left;
  }
}
/*# sourceMappingURL=check.css.map */