@import "base.scss";
 
$color1: #eccc68;
$color2: #ff7f50;
$color3: #ff6b81;
$color4: #a4b0be;
$color5: #57606f;
$color6: #ffa502;
$color7: #ff6348;
$color8: #ff4757;
$color9: #747d8c;
main{
    div.wapper{
        width: 100%;
        .file-input{
            margin-top: 20px;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #FFF;
            input[type="file"]{
                display: none;
            }
            button{
                width: 30%;
                height: 30px; 
                @include blueButton;
                display: block;
                &.hide{
                    display: none;
                }
                &.short-button{
                    width: 7rem;
                }
            }
            ul.files{
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                overflow: auto;
                &.hide{
                    display: none;
                }
                li{
                    width: 25px;
                    height: 35px;
                    padding: 5px;;
                    font-size: 0.5rem;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    img{
                        width: 25px;
                    }
                    &:hover{
                        background-color: rgba(112, 161, 255,0.2);
                    }
                    &.on{
                        background-color: rgba(112, 161, 255,0.5);
                    }
                }
            }
        }
        div.main-content{
            width: 100%;
            margin: 20px 0 20px 0;
            position: relative;
            div.block{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 999;
                padding: 0;
                background-color: rgba(128,128,128,0.4);
                color: $dark;
                display: flex;
                justify-content: center;
                font-size: 2.5rem;
                cursor: default;
            }
            >div{
                width: 100%;
                margin: 0 auto;
                height: 600px;
                box-sizing: border-box;
                padding: 20px;
                margin-bottom: 20px;
                background-color: #FFF;
                >div{
                    height: 520px;
                    border: 1px $dark solid;
                    box-sizing: border-box;
                    padding: 20px;
                    margin-top: 30px;
                    overflow: auto;
                }
                button{
                    @include greyButton;
                    width: 5rem;
                    height: 1.5rem;
                    float: right;
                    a{ color: $dark; }
                }
            }
            ul#legends{
                padding: 10px 0 10px 0;
                height: 2.5rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                font-size: 0.5rem;
                line-height: 0.5rem;
                li{
                    height: 0.75rem;
                }
                .rect{
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-right: 3px;
                    float: left;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    main{
        min-width: 1024px;
        width: 90%;
        margin: 0 auto;
        div.wapper{
            div.main-content{
                width: 100%;
                >div{
                    width: 50%;
                    float: left;
                    margin-bottom: 0;
                }
                div.block{
                    align-items: center;
                }
            }
        }
    }
}

.color1{
    background-color: $color1;
}
.color2{
    background-color: $color2;
}
.color3{
    background-color: $color3;
}
