@import "base.scss";
 
$color1: #eccc68;
$color2: #ff7f50;
$color3: #ff6b81;
$color4: #a4b0be;
$color5: #57606f;
$color6: #ffa502;
$color7: #ff6348;
$color8: #ff4757;
$color9: #747d8c;
main{
    div.wapper{
        width: 100%;
        .file-input{
            margin-top: 40px;
            width: 100%;
            height: 100px; 
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #FFF;
            input[type="file"]{
                display: none;
            }
            button{
                width: 30%;
                height: 30px; 
                @include blueButton;
                display: block;
                &.hide{
                    display: none;
                }
                &.short-button{
                    width: 7rem;
                }
            }
            div.files-div{
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 0.75rem;
                position: relative;
                p{
                    position: absolute;
                    top: -1rem;
                    left: 0;
                    &:last-of-type{
                        left: 70%;
                    }
                }
                &.hide{
                    display: none;
                }
                ul.files,ul.valid-files{
                    width: 68%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    overflow: auto;
                    li{
                        width: 25px;
                        height: 35px;
                        padding: 5px;;
                        font-size: 0.5rem;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        img{
                            width: 25px;
                        }
                        &:hover{
                            background-color: rgba(112, 161, 255,0.2);
                        }
                        &.on{
                            background-color: rgba(112, 161, 255,0.5);
                        }
                    }
                }
                ul.valid-files{
                    width:30%;
                }
            }
        }
        div.blockTag{
            background-color: #FFF;
            margin-top: 10px;
            padding: 10px;
            width: auto;
            height: 40px;
            font-size: 0.75rem;
            position: relative;
            p{
                position: absolute;
                top: -0.5rem;
                left: 0.5rem;
                color: $dark;
            }
            div{
                height: 100%;
                display: flex;
                float: right;
                margin-left: 10px;
                align-items: center;
                input{
                    width: 100px;
                }
                button{
                    @include greyButton;
                    width: 2rem;
                    height: 1.5rem;
                    margin: 0 5px 0 5px;
                }
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;
                align-items: center;
                margin-right: 20px;
                height: 100%;
                color: $dark;
                li{
                    padding: 5px;
                    padding-right: 20px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    border: solid 1px rgba( 153,204,255, 0.5);
                    background-color: rgba( 153,204,255, 0.1);
                    position: relative;
                    div.x-icon{
                        position: absolute;
                        top: 11px;
                        right: 5px;
                        background-color: rgba( 153,204,255, 0.5);
                        width: 5px;
                        height: 5px;
                        border-radius: 2.5px;
                        cursor: pointer;
                    }
                    &:hover{
                        background-color: rgba( 153,204,255, 0.5);
                        color: #000;
                        div.x-icon{
                            top: 8px;
                            right: 3px;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                            background: url(./img/x.png) no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        div.main-content{
            width: 100%;
            margin: 20px 0 20px 0;
            position: relative;
            div.block{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 999;
                padding: 0;
                background-color: rgba(128,128,128,0.4);
                color: $dark;
                display: flex;
                justify-content: center;
                font-size: 2.5rem;
                cursor: default;
            }
            >div{
                width: 100%;
                margin: 0 auto;
                height: 620px;
                box-sizing: border-box;
                padding: 20px;
                margin-bottom: 20px;
                background-color: #FFF;
                >div{
                    height: 520px;
                    border: 1px $dark solid;
                    box-sizing: border-box;
                    padding: 20px;
                    margin-top: 30px;
                    overflow: auto;
                }
                button{
                    @include greyButton;
                    width: 5rem;
                    height: 1.5rem;
                    float: right;
                    a{ color: $dark; }
                }
            }
            ul#legends{
                padding: 10px 0 10px 0;
                height: 2.5rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                font-size: 0.5rem;
                line-height: 0.5rem;
                li{
                    max-height: 0.75rem;
                    line-height: 0.75rem;
                    cursor: pointer;
                    max-width: 100px;
                    text-overflow: ellipsis;
                    &:hover,&.on{
                        background-color: rgba(112, 161, 255,0.2);
                    }
                }
                .rect{
                    width: 0.5rem;
                    height: 0.5rem;
                    margin: 0.125rem 3px;
                    float: left;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    main{
        min-width: 1024px;
        width: 90%;
        margin: 0 auto;
        div.wapper{
            div.main-content{
                width: 100%;
                >div{
                    width: 50%;
                    float: left;
                    margin-bottom: 0;
                }
                div.block{
                    align-items: center;
                }
            }
        }
    }
}

.allFiles{
    background-color: $highLight;
}
.color1{
    background-color: $color1;
}
.color2{
    background-color: $color2;
}
.color3{
    background-color: $color3;
}
.color4{
    background-color: $color4;
}
.color5{
    background-color: $color5;
}
.color6{
    background-color: $color6;
}
.color7{
    background-color: $color7;
}
.color8{
    background-color: $color8;
}
.color9{
    background-color: $color9;
}
